In [2]:
f=0 # 변수 선언과 초기화
try: # 예외 에러 처리
    f=open("LICENSE.txt","rt") # 파일 열기
    while True: # 무한 반복문
        r=f.readline() # 한줄 가져오기
        if not r: # 라인이 없다면
            break # 반복문 탈출
        print(r) # 한줄씩 파일 내용 출력
except FileNotFoundError: # 예외 에러 처리
    print("파일없음") # 파일이 없을 경우 메세지 출력
finally: # 무조건 실행
    if(f): f.close() # 파일을 닫고
    print("프로그램 끝") # 메세지 출력

파일없음
프로그램 끝

In [11]:
# 100명의 국어,영어,수학 점수를 임의로 만든 후 csv형태의 파일의 기록하는 예제
import random as r # 랜덤 모듈 사용
f=0 # 변수 선언과 초기화
f=open("score.txt","wt") # 파일 쓰기로 파일 열기
# 아래와 같은 형태를 만들기 위하여 str.format 함수를 사용할 수 있다. 
#   one_person="{0:s},{1:d},{2:d},{3:d}\n"
#.format("홍길동"+str(i),r.randrange(0,100),r.randrange(0,100),r.randrange(0,100)) 
for i in range(100): # 100명
    one_person="홍길동"+str(i)+","+str(r.randrange(0,100))+","+str(r.randrange(0,100))+"," \
    +str(r.randrange(0,100))+"\n" # 이름+번호 , 국어점수 , 영어점수, 수학점수 만들기
    f.write(one_person) #한 줄씩 쓴다 
    print(one_person) # 한명씩 출력
f.close() # 파일 닫기

홍길동0,59,82,87

홍길동1,98,56,52

홍길동2,58,54,67

홍길동3,81,72,91

홍길동4,44,0,31

홍길동5,33,58,74

홍길동6,41,58,38

홍길동7,98,69,7

홍길동8,50,77,14

홍길동9,38,86,10

홍길동10,78,72,80

홍길동11,91,38,54

홍길동12,46,11,30

홍길동13,16,86,93

홍길동14,29,80,35

홍길동15,44,97,23

홍길동16,63,77,54

홍길동17,59,61,57

홍길동18,79,60,61

홍길동19,74,71,65

홍길동20,75,50,78

홍길동21,15,12,68

홍길동22,36,56,59

홍길동23,18,95,18

홍길동24,48,66,17

홍길동25,28,63,27

홍길동26,10,7,76

홍길동27,30,79,7

홍길동28,44,71,9

홍길동29,30,50,5

홍길동30,2,57,64

홍길동31,50,82,92

홍길동32,41,17,2

홍길동33,38,94,52

홍길동34,86,6,24

홍길동35,59,64,82

홍길동36,44,13,51

홍길동37,98,97,1

홍길동38,79,87,21

홍길동39,46,15,5

홍길동40,95,67,66

홍길동41,35,27,77

홍길동42,8,54,28

홍길동43,62,28,31

홍길동44,45,57,1

홍길동45,27,41,53

홍길동46,63,1,53

홍길동47,24,85,1

홍길동48,98,33,6

홍길동49,95,87,33

홍길동50,71,60,27

홍길동51,84,27,79

홍길동52,30,56,97

홍길동53,93,2,61

홍길동54,45,21,5

홍길동55,0,29,1

홍길동56,85,94,64

홍길동57,9,24,10

홍길동58,71,48,44

홍길동59,73,65,44

홍길동60,11,77,28

홍길동61,46,55,27

홍길동62,45,59,69

홍길동63,90,22,54

홍길동64,71,99,44

홍길동65,2,67,47

홍길동66,81,45,23

홍길동67,0,43,75

홍길동68,17,57,23

홍길동69,29,21,92

홍길동70,90,14,74

홍길동71,83,14,25

홍길동72,82,56,52

홍길동73,94,3,97

홍길동74,55,50,4

홍길동75,3,15,63

홍길동76,88,89,56

홍길동77,51,14,3

홍길동78,12,10,95

홍길동79,72,59,38

홍길동80,7,18,57

홍길동81,1,58,35

홍길동82,11,31,20

홍길동83,7,8,53

홍길동84,48,87,20

홍길동85,50,42,48

홍길동86,42,72,73

홍길동87,76,88,65

홍길동88,76,53,8

홍길동89,94,96,36

홍길동90,76,66,89

홍길동91,73,87,31

홍길동92,39,12,8

홍길동93,33,29,24

홍길동94,55,75,22

홍길동95,21,79,72

홍길동96,75,45,91

홍길동97,36,55,80

홍길동98,98,15,22

홍길동99,28,29,17

In [13]:
f=0 # 변수 선언과 초기화
f=open("score.txt","rt")  # 파일 읽기로 파일 열기
while True: # 무한 반복문
    one_person=f.readline() # 한 줄씩 읽는다
    if not one_person: break # 읽을 내용이 없으면 루프탈출
    one_person=one_person.replace("\n","") # 줄 바꿈문자 없애기
    item=one_person.split(",") #콤마 구분자로 짜르기
    print("="*10) # 등호 10개 출력
    print("이름: ", item[0]) # 이름 출력
    print("국어: ", item[1]) # 국어 성적 출력
    print("영어: ", item[2]) # 영어 성적 출력
    print("수학: ", item[3]) # 수학 성적 출력
    print("="*10)  # 등호 10개 출력
f.close() # 파일 닫기

==========
이름:  홍길동0
국어:  59
영어:  82
수학:  87
==========
==========
이름:  홍길동1
국어:  98
영어:  56
수학:  52
==========
==========
이름:  홍길동2
국어:  58
영어:  54
수학:  67
==========
==========
이름:  홍길동3
국어:  81
영어:  72
수학:  91
==========
==========
이름:  홍길동4
국어:  44
영어:  0
수학:  31
==========
==========
이름:  홍길동5
국어:  33
영어:  58
수학:  74
==========
==========
이름:  홍길동6
국어:  41
영어:  58
수학:  38
==========
==========
이름:  홍길동7
국어:  98
영어:  69
수학:  7
==========
==========
이름:  홍길동8
국어:  50
영어:  77
수학:  14
==========
==========
이름:  홍길동9
국어:  38
영어:  86
수학:  10
==========
==========
이름:  홍길동10
국어:  78
영어:  72
수학:  80
==========
==========
이름:  홍길동11
국어:  91
영어:  38
수학:  54
==========
==========
이름:  홍길동12
국어:  46
영어:  11
수학:  30
==========
==========
이름:  홍길동13
국어:  16
영어:  86
수학:  93
==========
==========
이름:  홍길동14
국어:  29
영어:  80
수학:  35
==========
==========
이름:  홍길동15
국어:  44
영어:  97
수학:  23
==========
==========
이름:  홍길동16
국어:  63
영어:  77
수학:  54
==========
==========
이름:  홍길동17
국어:  59
영어:  61
수학:  57
==========
==========
이름:  홍길동18
국어:  79
영어:  60
수학:  61
==========
==========
이름:  홍길동19
국어:  74
영어:  71
수학:  65
==========
==========
이름:  홍길동20
국어:  75
영어:  50
수학:  78
==========
==========
이름:  홍길동21
국어:  15
영어:  12
수학:  68
==========
==========
이름:  홍길동22
국어:  36
영어:  56
수학:  59
==========
==========
이름:  홍길동23
국어:  18
영어:  95
수학:  18
==========
==========
이름:  홍길동24
국어:  48
영어:  66
수학:  17
==========
==========
이름:  홍길동25
국어:  28
영어:  63
수학:  27
==========
==========
이름:  홍길동26
국어:  10
영어:  7
수학:  76
==========
==========
이름:  홍길동27
국어:  30
영어:  79
수학:  7
==========
==========
이름:  홍길동28
국어:  44
영어:  71
수학:  9
==========
==========
이름:  홍길동29
국어:  30
영어:  50
수학:  5
==========
==========
이름:  홍길동30
국어:  2
영어:  57
수학:  64
==========
==========
이름:  홍길동31
국어:  50
영어:  82
수학:  92
==========
==========
이름:  홍길동32
국어:  41
영어:  17
수학:  2
==========
==========
이름:  홍길동33
국어:  38
영어:  94
수학:  52
==========
==========
이름:  홍길동34
국어:  86
영어:  6
수학:  24
==========
==========
이름:  홍길동35
국어:  59
영어:  64
수학:  82
==========
==========
이름:  홍길동36
국어:  44
영어:  13
수학:  51
==========
==========
이름:  홍길동37
국어:  98
영어:  97
수학:  1
==========
==========
이름:  홍길동38
국어:  79
영어:  87
수학:  21
==========
==========
이름:  홍길동39
국어:  46
영어:  15
수학:  5
==========
==========
이름:  홍길동40
국어:  95
영어:  67
수학:  66
==========
==========
이름:  홍길동41
국어:  35
영어:  27
수학:  77
==========
==========
이름:  홍길동42
국어:  8
영어:  54
수학:  28
==========
==========
이름:  홍길동43
국어:  62
영어:  28
수학:  31
==========
==========
이름:  홍길동44
국어:  45
영어:  57
수학:  1
==========
==========
이름:  홍길동45
국어:  27
영어:  41
수학:  53
==========
==========
이름:  홍길동46
국어:  63
영어:  1
수학:  53
==========
==========
이름:  홍길동47
국어:  24
영어:  85
수학:  1
==========
==========
이름:  홍길동48
국어:  98
영어:  33
수학:  6
==========
==========
이름:  홍길동49
국어:  95
영어:  87
수학:  33
==========
==========
이름:  홍길동50
국어:  71
영어:  60
수학:  27
==========
==========
이름:  홍길동51
국어:  84
영어:  27
수학:  79
==========
==========
이름:  홍길동52
국어:  30
영어:  56
수학:  97
==========
==========
이름:  홍길동53
국어:  93
영어:  2
수학:  61
==========
==========
이름:  홍길동54
국어:  45
영어:  21
수학:  5
==========
==========
이름:  홍길동55
국어:  0
영어:  29
수학:  1
==========
==========
이름:  홍길동56
국어:  85
영어:  94
수학:  64
==========
==========
이름:  홍길동57
국어:  9
영어:  24
수학:  10
==========
==========
이름:  홍길동58
국어:  71
영어:  48
수학:  44
==========
==========
이름:  홍길동59
국어:  73
영어:  65
수학:  44
==========
==========
이름:  홍길동60
국어:  11
영어:  77
수학:  28
==========
==========
이름:  홍길동61
국어:  46
영어:  55
수학:  27
==========
==========
이름:  홍길동62
국어:  45
영어:  59
수학:  69
==========
==========
이름:  홍길동63
국어:  90
영어:  22
수학:  54
==========
==========
이름:  홍길동64
국어:  71
영어:  99
수학:  44
==========
==========
이름:  홍길동65
국어:  2
영어:  67
수학:  47
==========
==========
이름:  홍길동66
국어:  81
영어:  45
수학:  23
==========
==========
이름:  홍길동67
국어:  0
영어:  43
수학:  75
==========
==========
이름:  홍길동68
국어:  17
영어:  57
수학:  23
==========
==========
이름:  홍길동69
국어:  29
영어:  21
수학:  92
==========
==========
이름:  홍길동70
국어:  90
영어:  14
수학:  74
==========
==========
이름:  홍길동71
국어:  83
영어:  14
수학:  25
==========
==========
이름:  홍길동72
국어:  82
영어:  56
수학:  52
==========
==========
이름:  홍길동73
국어:  94
영어:  3
수학:  97
==========
==========
이름:  홍길동74
국어:  55
영어:  50
수학:  4
==========
==========
이름:  홍길동75
국어:  3
영어:  15
수학:  63
==========
==========
이름:  홍길동76
국어:  88
영어:  89
수학:  56
==========
==========
이름:  홍길동77
국어:  51
영어:  14
수학:  3
==========
==========
이름:  홍길동78
국어:  12
영어:  10
수학:  95
==========
==========
이름:  홍길동79
국어:  72
영어:  59
수학:  38
==========
==========
이름:  홍길동80
국어:  7
영어:  18
수학:  57
==========
==========
이름:  홍길동81
국어:  1
영어:  58
수학:  35
==========
==========
이름:  홍길동82
국어:  11
영어:  31
수학:  20
==========
==========
이름:  홍길동83
국어:  7
영어:  8
수학:  53
==========
==========
이름:  홍길동84
국어:  48
영어:  87
수학:  20
==========
==========
이름:  홍길동85
국어:  50
영어:  42
수학:  48
==========
==========
이름:  홍길동86
국어:  42
영어:  72
수학:  73
==========
==========
이름:  홍길동87
국어:  76
영어:  88
수학:  65
==========
==========
이름:  홍길동88
국어:  76
영어:  53
수학:  8
==========
==========
이름:  홍길동89
국어:  94
영어:  96
수학:  36
==========
==========
이름:  홍길동90
국어:  76
영어:  66
수학:  89
==========
==========
이름:  홍길동91
국어:  73
영어:  87
수학:  31
==========
==========
이름:  홍길동92
국어:  39
영어:  12
수학:  8
==========
==========
이름:  홍길동93
국어:  33
영어:  29
수학:  24
==========
==========
이름:  홍길동94
국어:  55
영어:  75
수학:  22
==========
==========
이름:  홍길동95
국어:  21
영어:  79
수학:  72
==========
==========
이름:  홍길동96
국어:  75
영어:  45
수학:  91
==========
==========
이름:  홍길동97
국어:  36
영어:  55
수학:  80
==========
==========
이름:  홍길동98
국어:  98
영어:  15
수학:  22
==========
==========
이름:  홍길동99
국어:  28
영어:  29
수학:  17
==========

In [27]:
import sqlite3 as s # sqlite3 사용을 위한 임포트
con=s.connect("my01.db") # 파일 연결
cursor = con.cursor()

# cursor.execute("drop table examtable;")  #table 삭제 
con.commit()

# table 생성
cursor.execute("create table examtable(name varchar(20),studentid int not null primary key,\
kor int,eng int,mat int)")
con.commit() # 버퍼에 처리된 내용을 기록 
cursor.close()
con.close() # 닫기

In [28]:
import sqlite3 as s # sqlite3 사용을 위한 임포트
con=s.connect("my01.db") # 파일 연결
cursor = con.cursor()

#테이블내 레코드 삽입
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"나연\", 20990001, 95, 100, 95);")   
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"정연\", 20990002, 90, 90, 85);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"모모\", 20990003, 95, 95, 75);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"사나\", 20990004, 85, 90, 90);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"지효\", 20990005, 100, 90, 85);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"미나\", 20990006, 90, 80, 90);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"다현\", 20990007, 75, 90, 100);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"채영\", 20990008, 95, 70, 90);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"쯔위\", 20990009, 85, 90, 90);")

con.commit() # 버퍼에 처리된 내용을 기록 
cursor.close() 
con.close() # 닫기

In [30]:
import sqlite3 as s 
con=s.connect("my01.db") 
cursor = con.cursor()

cursor.execute("select * from examtable")

one_rec=cursor.fetchall()  #해당 데이터를 전부 가져옴

for field in one_rec:  #해당 데이터를 반복문을 통해 하나씩 처리 
    kor=field[2]
    eng=field[3] 
    mat=field[4]
    print("이름:%s 학번:%s 국어:%3d 영어:%3d 수학:%3d 총점:%3d 평균:%3d"\
          %(field[0],field[1],kor,eng,mat,kor+eng+mat,int((kor+eng+mat)/3))) 

cursor.close()
con.close()

이름:나연 학번:20990001 국어: 95 영어:100 수학: 95 총점:290 평균: 96
이름:정연 학번:20990002 국어: 90 영어: 90 수학: 85 총점:265 평균: 88
이름:모모 학번:20990003 국어: 95 영어: 95 수학: 75 총점:265 평균: 88
이름:사나 학번:20990004 국어: 85 영어: 90 수학: 90 총점:265 평균: 88
이름:지효 학번:20990005 국어:100 영어: 90 수학: 85 총점:275 평균: 91
이름:미나 학번:20990006 국어: 90 영어: 80 수학: 90 총점:260 평균: 86
이름:다현 학번:20990007 국어: 75 영어: 90 수학:100 총점:265 평균: 88
이름:채영 학번:20990008 국어: 95 영어: 70 수학: 90 총점:255 평균: 85
이름:쯔위 학번:20990009 국어: 85 영어: 90 수학: 90 총점:265 평균: 88